* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

.LogoPeliculas {
    object-fit: contain;
    mix-blend-mode: color-dodge;
}

.containerError{
    width: 100%;
    height: 500px;;
    background-image: url(./img/eror-404.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Css Emi*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/*estilos de imagen de fondo*/
.ubiboton{
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);    
}
@media (max-width: 767px) {
    .displayNone{
        display: none;
    }
    .columna{
        flex-direction: column;
    }
        
}
.posicion{
    position: relative;
}
  