/* ----- imagen----- */
.my_container {
    margin: 0;
    padding: 0;
    position: relative;
}
    .my_container img {
        z-index: -1;
    }
  
.gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.685) 0%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,1) 100%);
    z-index: 1;
  }

  .copy{
    margin-right: 30px;
  }
   
  .gradient::before {
        content: "";
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        z-index: 2;
        background-image: linear-gradient(0deg, rgba(33, 37, 41, 1) 9%, rgba(33, 37, 41, 0.8) 15%, rgba(33, 37, 41, 0.5) 20%, rgba(0, 0, 0, 0.01) 100%);
      }

/* ----- botón ----- */
.btn_ubi{
    position: absolute;
    bottom: 25%;
    left: 10%;
}

.btn_play {
    color: whitesmoke;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.6);
    border-color: rgb(50, 50, 50);
    border-width: 2px;
  }
  
.btn_play:hover {
    background-color: rgba(255, 255, 0, 0.6);
    color: black;
}
/* ----- descripción ----- */
.text_ubi{ 
    max-width: 70%;
    margin-left: 10%;
    padding-bottom: 5%;
    z-index: 2;
}


@media (max-width: 767px) {
    .dNone{
        display: none;
    }   
}
/* ----- sujeridas ----- */
.sujerencias{
    padding: 2em;
    padding-top: 4em;
    background-color: brown;
}