* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

.LogoPeliculas {
    object-fit: contain;
    mix-blend-mode: color-dodge;
}

.containerError{
    width: 100%;
    height: 500px;;
    background-image: url(./img/eror-404.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Css Emi*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/*estilos de imagen de fondo*/
.ubiboton{
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);    
}
@media (max-width: 767px) {
    .displayNone{
        display: none;
    }
    .columna{
        flex-direction: column;
    }
        
}
.posicion{
    position: relative;
}
/*CSS MANU PAG NOSOTROS*/

.cine{
    background-image:url(./img/cine.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.page-section {
    padding: 6rem ;
  }
  .page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
  }

  .team-member {
    margin-bottom: 6rem;
    text-align: center;
  }
  .team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    background-color: white;
    border-color: #83B5E5;
  }
  .team-member h4, .team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  .redondeo{
    border-radius: 100% !important;
}

.trabaja{
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 150%;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #1d1c22;
  }

  .fondo{
    background-color: #212529;
    border-radius: 4%;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .centrar{
    text-align: center;
  }

  @media (min-width: 768px) {
    section {
      padding: 9rem 0;
    }
  }